@import url(./reset.css);
@import url(../styles/fonts.css);

body {
  background-color: var(--background-gray, #f9f9f9);
  width: 100%;
  height: 100%;
}

/* LOCATION: HEADER  */
.header {
  width: 100%;
  height: 106px;

  background-color: #ffff;

  position: relative;
}

.header::after {
  content: "";

  width: 1680px;
  height: 1px;

  background-color: var(--line-gray, #f0f0f0);

  position: absolute;
  top: 40px;
  left: 10%;
}

.wrapper {
  width: 100%;

  max-width: 1290px;
  margin: 0 auto;

  display: flex;
}

.header__wrapper {
  flex-direction: column;
}

.header__block-1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  padding: 11px 0 11px 0;
}

.header__location {
  display: flex;
  align-items: center;
  gap: 8px;
}

.location__name {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;

  color: var(--black, #191919);
}

.location__btn {
  padding: 0;
  border: 0;
  background-color: unset;
  cursor: pointer;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;

  color: var(--black, #191919);

  margin-left: 40px;
}

.location__duration {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;

  color: var(--black, #191919);

  margin-left: 40px;
}

.location__duration--bold {
  font-weight: 600;
  margin-left: 4px;
}

.work-time {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;

  color: var(--black, #191919);

  margin-left: 343px;
}

.header__user {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-left: 40px;
}

.user__link {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;

  color: var(--black, #191919);
}

.header__block-2 {
  width: 100%;
  display: flex;
  align-items: center;

  justify-content: space-between;

  padding-top: 7px;
}

.pizza-logo {
  display: flex;
  align-items: center;

  gap: 12px;
}

.shopping-bag {
  padding: 8px 16px;

  background-color: var(--primary, #ff7010);
  border-radius: 4px;
}

.shopping-bag__link {
  display: flex;
  align-items: center;

  gap: 8px;
}

.shopping-bag__count {
  font-family: "SF Pro Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;

  color: var(--white, #fff);
}

/* SECTION: BANNER  */

/* PART: MENU  */
.banner__wrapper {
  flex-direction: column;
}

.menu-list {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 30px;

  margin-top: 30px;
}

.menu-list__item {
  width: 100%;
  height: 104px;
  max-width: 135px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  background-color: var(--white, #fff);
  border-radius: 12px;
  border: 1px solid var(--line-gray, #f0f0f0);
}

.menu-list__text {
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  color: var(--black, #191919);
}

/* PART: SPECIAL OFFER */
.special-offer {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 30px;

  margin-top: 30px;
}

.special-offer__block {
  width: 100%;

  height: 343px;
  max-width: 300px;

  display: flex;
  align-items: flex-end;
  justify-content: flex-start;

  border-radius: 10px;
}

.special-offer__block--1bg {
  background-color: var(--primary, #ff7010);
  background-image: url(../assets/specialOffer/3\ pizza.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.special-offer__block--2bg {
  background-color: var(--red, #e23535);
  background-image: url(../assets/specialOffer/pizza\ in\ a\ box.png);
  background-repeat: no-repeat;
  background-position: top 72.62px right 21.43px;
}

.special-offer__block-text {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;

  color: #fff;

  max-width: 240px;

  padding: 20px;
}

/* PART: LOCATION CHECKED */

.adress-checked {
  width: 100%;
  margin-top: 30px;
}

.adress-checked__form {
  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;

  border-radius: 8px;
  border: 1px solid var(--line-gray, #f0f0f0);
  background: var(--white, #fff);
}

.adress-checked__fieldset {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.adress-checked__check {
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  color: var(--black, #191919);
}

.adress-checked__field {
  width: 100%;
  height: 48px;
  max-width: 743px;

  font-family: "SF Pro Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;

  color: var(--gray-text, #a5a5a5);

  border-radius: 6px;
  border: 1px solid var(--line-gray, #f0f0f0);
  background: #fff;

  padding-left: 40px;

  background-image: url(../assets/adress/Location.svg);
  background-repeat: no-repeat;
  background-position: left 12px center;
}
.adress-checked__field:focus {
  outline: none;
}

.adress-checked__btn {
  width: 100%;
  max-width: 150px;
  height: 48px;

  border-radius: 6px;
  background: var(--primary, #ff7010);

  border: 0;
  cursor: pointer;

  font-family: " SF Pro Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;

  color: #fff;

  margin-right: 32px;
}

/* SECTION: PIZZA  */
.pizzas {
  margin-top: 30px;
}
.pizzas__wrapper {
  flex-direction: column;
}

.menu-block__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 28px;
  column-gap: 30px;
  /* COMMENT: правильно ли с авто флоу */
  grid-auto-flow: row dense;

  margin-top: 30px;
}

.menu-block__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subheading {
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;

  color: var(--black, #191919);
}

.menu-block__filter {
  font-family: "SF Pro Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;

  border-radius: 6px;
  border: 1px solid var(--line-gray, #f0f0f0);
  background-color: #fff;
  background-image: url(../assets/pizzaSection/Filter.svg);
  background-repeat: no-repeat;
  background-position: left 16px top 12px;

  padding: 9px 16px 9px 40px;
}
.menu-block__list {
  width: 100%;
}

.menu-block__item {
  width: 100%;
  max-width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;

  background-color: #fff;
  border-radius: 12px;
  border: 1px solid var(--line-gray, #f0f0f0);

  position: relative;
}

.menu-block__item--new::after {
  content: "";

  width: 65px;
  height: 32px;

  background-image: url(../assets/icons/NEW.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 20px;
}

.menu-block__item--hit::after {
  content: "";

  width: 65px;
  height: 32px;

  background-image: url(../assets/icons/hit.svg);
  background-repeat: no-repeat;

  position: absolute;
  left: 0;
  top: 20px;
}

.menu-block__item-main {
  padding: 16px 20px 20px 20px;
}

.menu-block__subheading {
  max-width: 260px;

  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;

  color: var(--black, #191919);
}

.menu-block__text {
  font-family: "SF Pro Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;

  color: var(--black, #191919);

  margin-top: 12px;
}

.menu-block__end {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 51px;
}

.menu-block__btn {
  border: 0;
  border-radius: 6px;
  background: var(--primary, #ff7010);

  font-family: "SF Pro Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;

  color: var(--white, #fff);
  padding: 13px 32px;

  cursor: pointer;
}

.menu-block__price {
  font-family: "SF Pro Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;

  color: var(--primary, #ff7010);
}

/* SECTION: SUSHI  */

.sushi {
  margin-top: 48px;
}
.sushi__wrapper {
  flex-direction: column;
}

/* section: SNACKS; */

.snacks {
  margin-top: 48px;
}

.snacks__wrapper {
  flex-direction: column;
}

/* SECTION: DESSERT  */

.desserts {
  margin-top: 48px;
}

.desserts__wrapper {
  flex-direction: column;
}

/* section: DRINKS */

.drinks {
  margin-top: 48px;
}

.drinks__wrapper {
  flex-direction: column;
}
